In [1]:
import json
import pandas as pd
from shapely import wkt
df['geometry'] = df['geometry'].apply(wkt.loads)

In [2]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

def pgconnect():
    YOUR_PW     = 'postsomesql#2020'
    DB_LOGIN    = 'postgres'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@localhost/data2901_covid_analysis', echo=False)
        conn = db.connect()
        #Note here, conn is now the cursor, as seen here: https://docs.sqlalchemy.org/en/13/core/connections.html
        #conn = psycopg2.connect(dbname="data2901_covid_analysis", user="postgres", password= YOUR_PW)
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn
db,conn = pgconnect()

connected

In [3]:
conn.execute('DROP TABLE IF EXISTS travel')
journeys_schema = """CREATE TABLE IF NOT EXISTS travel (
origin INTEGER,
destination INTEGER,
people INTEGER,
PRIMARY KEY (origin, destination)
)"""
conn.execute(journeys_schema)

In [5]:
with open('./data2901_data/corona_travel.json') as json_file:
    travel_data = json.load(json_file)

travel_df = pd.DataFrame(travel_data)
travel = {}
for index, row in travel_df.iterrows():
    origin = row[0]
    destinations = row[1]
    
    for entry in destinations:
        destination = entry['destination']
        people = entry['people']
        if (origin, destination) in travel:
            travel[(origin, destination)] += people
        else:
            travel[(origin, destination)] = people

#for (origin, destination) in travel.keys():
 #   people = travel[(origin, destination)]
  #  conn.execute('INSERT INTO travel VALUES ({},{},{})'.format(origin, destination, people))

In [8]:
travel = pd.read_sql_query('SELECT * FROM travel', conn)
travel

          origin  destination  people
0      101011001    101011001    7378
1      101011001    101011002     413
2      101011001    101011003       7
3      101011001    101011004      12
4      101011001    101011005       3
...          ...          ...     ...
65060  899999499    117031337       3
65061  901011001    120031390       3
65062  901031003    114011278      13
65063  901031003    117031333       3
65064  901031003    118011346       4

[65065 rows x 3 columns]